body {
    margin: 0;
    overflow: hidden; /* Evita el scroll */
    background: linear-gradient(to bottom, #ffdde1, #ee9ca7);
    font-family: 'Arial', sans-serif;
}

.card {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.bubble {
    position: absolute;
    bottom: -100px;
    background: rgb(205, 40, 40);
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-size: 14px;
    animation: floatUp 8s linear infinite;
}

@keyframes floatUp {
    to { transform: translateY(-120vh) rotate(20deg); opacity: 0; }
}